<form autocomplete="off" onsubmit="event.preventDefault();">
    <p class="hint">{{localize "changeLog.importExportSettings.importDialog.hint"}}</p>
    <p class="notes">{{localize "changeLog.importExportSettings.importDialog.warning"}}</p>
    <div class="form-group">
        <input type="file" name="data" accept=".json"/>
    </div>
</form>
