.change-log-card-content {
    font-size: var(--font-size-13);
    font-style: normal;
}

.change-log-card-document1, .change-log-card-document2 {
    display: flex;
    flex: 1;
}

.change-log-card-property {
    display: flex;
    flex: 1;
}

.change-log-card-values {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.05);
    border: 1px solid var(--color-border-light-tertiary);
    border-radius: 3px;
    display: flex;
    padding: 2px;
    width: 100%;
}

.change-log-card-values > i {
    color: rgba(0,0,0, 0.3);
}

.change-log-card-old-value {
    display: flex;
    flex: 1;
    justify-content: center;
}

.change-log-card-new-value {
    display: flex;
    flex: 1;
    justify-content: center;
}

.change-log-form-label {
    margin-top: 0.2rem;
}

.change-log-taginput {
    align-content: start;
    background: rgba(0, 0, 0, 0.05);
    border: 1px solid var(--color-border-light-tertiary);
    border-radius: 3px;
    display: inline-flex;
    font-family: inherit;
    font-size: var(--font-size-12);
    gap: 5px;
    height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 5px;
    text-overflow: ellipsis;
    width: 100%;
}

.tagify.change-log-taginput:hover {
    border: 1px solid var(--color-border-light-tertiary);
}

.change-log-taginput .tagify__tag {
    font-size: var(--font-size-12);
    margin: 0;
}

.change-log-taginput .tagify__tag>div::before {
    background-color: rgba(0, 0, 0, 0.05);
    border: 1px solid var(--color-border-light-tertiary);
    box-shadow: none;
}

.change-log-taginput .tagify__tag:focus div::before,.tagify__tag:hover:not([readonly]) div::before {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: 0 0 5px var(--color-shadow-primary);
}

.change-log-taginput .tagify__tag__removeBtn:hover+div::before {
    box-shadow: 0 0 5px var(--color-shadow-primary);
}

.change-log-taginput .tagify__input {
    font-size: var(--font-size-12);
    margin: 0;
}

.change-log-taginput .tagify__tag .tagify__tag__removeBtn:focus + div span,
.change-log-taginput .tagify__tag .tagify__tag__removeBtn:hover + div span {
    opacity: 100%;
}

.change-log-taginput .tagify__tag__removeBtn:focus + div::before,
.change-log-taginput .tagify__tag__removeBtn:hover + div::before {
    border: 1px solid var(--color-shadow-primary);
    box-shadow: 0 0 5px var(--color-shadow-primary) !important;
}

.change-log-taginput .tagify__tag__removeBtn:hover {
    background: var(--color-border-highlight-alt);
}

#change-log-clear-tags {
    background: rgba(255, 255, 240, 0.8);
    border: 1px solid var(--color-border-light-primary);
    margin-top: 2px;
}

.window-app.change-log-tag-form .window-content {
    padding: 0;
}

.change-log-tag-form .window-content > div {
    height: 100%;
    flex-wrap: nowrap;
}

.change-log-tag-form .categories {
    height: 100%;
}

.change-log-tag-form .categories .scrollable {
    flex: 1;
    overflow: hidden auto;
    padding: 0.5rem 0.5rem 0 0.5rem;
}

.change-log-tag-form .categories footer {
    margin: 0.5rem;
    flex: 0;
}

.change-log-tags-dropdown .tagify__dropdown__wrapper {
    align-content: start;
    background: rgba(0, 0, 0, 0.05);
    border: 1px solid var(--color-border-light-tertiary);
    border-radius: 3px;
    display: flex;
    flex-wrap: wrap;
    height: 200px;
    font-size: var(--font-size-12);
    gap: 5px;
    padding: 5px;
    text-overflow: ellipsis;
}

.change-log-tags-dropdown .tagify__dropdown__item {
    border: 1px solid var(--color-border-light-tertiary);
    display: inline-block;
    vertical-align: middle;
    border-radius: 3px;
    padding: 0.3em 0.5em;
    background: rgba(0,0,0, 0.05);
    margin: 0;
    font-size: var(--font-size-12);
    color: black;
    transition: 0s;
}

.change-log-tags-dropdown .tagify__dropdown__item--active {
    color: black;
}

.change-log-tags-dropdown .tagify__dropdown__item:hover {
    box-shadow: 0 0 5px var(--color-shadow-primary);
}

.change-log-tags-dropdown .tagify__dropdown__item--hidden {
    display: none;
}

.change-log-card-hidden {
    display: none;
}
