:root {
    --font-system-primary: var(--font-primary);
}

.change-log-card-content {
    font-size: var(--font-size-12);
    gap: 0.05rem;
    display: flex;
    flex-direction: column;
}

.change-log-card-document1, .change-log-card-document2 {
    display: flex;
    flex: 1;
}

.change-log-card-document1 {
    font-family: var(--font-system-primary);
    font-weight: bold;
}

.change-log-card-property {
    display: flex;
    flex: 1;
    font-style: italic;
}

.change-log-card-values {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid var(--color-border-light-2);
    border-radius: 3px;
    box-shadow: 0 0 2px #FFF inset;
    display: flex;
    padding: 0.1875rem;
    width: 100%;
}

.change-log-card-values > i {
    color: rgba(0,0,0, 0.3);
}

.change-log-card-values  i {
    margin-top: 2px;
}

.change-log-card-old-value {
    display: flex;
    flex: 1;
    justify-content: center;
}

.change-log-card-adjustment-value {
    display: flex;
    flex: 1;
    justify-content: center;
}

.change-log-card-new-value {
    display: flex;
    flex: 1;
    justify-content: center;
}

.change-log-tagify-app-label {
    margin-top: 0.2rem;
}

.change-log-col-group {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.change-log-row-group {
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
}

/*
 * TAGIFY
 */

.change-log-tagify-app .standard-form {
    height: 100%;
}

.change-log-tagify-app .change-log-tagify-app-description {
    border-bottom: 1px solid var(--color-border);
    margin: 0 0 0.5rem 0;
    padding: 0.5rem 0;
}

.tagify.change-log-tagify {
    --tag-bg: none;
    --tag-hover: none;
    --tag-text-color: var(--color-text-primary);
    --tags-border-color: var(--color-border);
    --tags-focus-border-color: var(--color-border);
    --tags-hover-border-color: var(--color-border);
    --tag-text-color: var(--color-text-primary);
    --tag-remove-btn-color: var(--color-text-primary);
    --tag-remove-btn-bg--hover: none;
    align-content: start;
    background-color: rgba(0, 0, 0, 0.05);
    border: 1px solid var(--color-border);
    border-radius: 3px;
    display: inline-flex;
    gap: 5px;
    height: 240px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 5px;
    text-overflow: ellipsis;
    width: 100%;
}

.change-log-tagify .tagify__tag {
    margin: 0;
    display: flex;
    align-items: center;
    font-size: var(--font-size-12);
    border-radius: 4px;
}


.change-log-tagify .tagify__tag:hover {
    cursor: grab;
}

.change-log-tagify .tagify__tag__removeBtn::after {
    content: "\f00d";
    font-family: "Font Awesome 6 Pro";
    font-size: var(--font-size-10);
    font-weight: 700;
    padding-bottom: 2px;
}

.change-log-tagify .tagify__tag__removeBtn:hover {
    color: var(--color-text-primary);
}

.change-log-tagify .tagify__tag:focus:not([readonly]) div::before,
.change-log-tagify .tagify__tag:hover:not([readonly]) div::before {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid transparent;
    box-shadow: 0px 0px 5px var(--color-shadow-primary) !important;
}

.change-log-tagify .tagify__tag .tagify__tag__removeBtn:focus + div span,
.change-log-tagify .tagify__tag .tagify__tag__removeBtn:hover + div span {
    opacity: 100%;
}

.change-log-tagify .tagify__tag__removeBtn + div::before {
    border: 1px solid var(--color-border);
    box-shadow: none !important;
}

.change-log-tagify .tagify__tag__removeBtn:focus::after,
.change-log-tagify .tagify__tag__removeBtn:hover::after{
    text-shadow: 0 0 2px var(--color-shadow-primary);
}

.change-log-tags-dropdown .tagify__dropdown__wrapper {
    align-content: start;
    background: rgba(0, 0, 0, 0.05);
    border: 1px solid var(--color-border);
    border-radius: 3px;
    display: flex;
    flex-wrap: wrap;
    height: 240px;
    font-size: var(--font-size-12);
    gap: 5px;
    padding: 5px;
    text-overflow: ellipsis;
}

.change-log-tags-dropdown .tagify__dropdown__item {
    display: inline-block;
    vertical-align: middle;
    border: 1px solid var(--color-border);
    border-radius: 4px;
    padding: 0.3em 0.5em;
    background: none;
    margin: 0;
    font-size: var(--font-size-12);
    color: var(--color-text-primary);
    transition: 0s;
}

.change-log-tags-dropdown .tagify__dropdown__item:hover {
    border: 1px solid transparent;
    box-shadow: 0px 0px 5px var(--color-shadow-primary);
}

.change-log-tags-dropdown .tagify__dropdown__item--hidden {
    display: none;
}

.change-log-tagify .tagify__input {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    font-size: var(--font-size-12);
    margin: 0;
    line-height: 1;
    padding: var(--tag-pad,.3em .5em);
    border: 1px solid var(--color-border);
    min-width: 100px;
    flex-grow: 0;
}